.taskCard {

  width: 312px;
  height: 160px;


  .userSelect {
    position: absolute;
    margin-top: 96px;
    margin-left: 240px;
  }

  .content {
    width: 312px;
    height: 160px;
    cursor: pointer;
    padding: 8px;


  }

  .name {
    font-size: large;
    font-weight: bold;
  }

  .description {
    max-width: 240px;
    max-height: 64px;
    overflow: hidden;
    text-overflow: ellipsis
  }
}
