.taskCard {
  //display: flex;
  width: 312px;
  height: 80px;
  //background: var(--backgrond-card-color);
  cursor: pointer;
  //
  //@media (hover: hover) {
  //  &:hover {
  //    background: var(--card-color-hovered);
  //  }
  //}
  //
  //@media (hover: none) {
  //  &:active {
  //    background: var(--card-color-hovered);
  //  }
  //}
}
